body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInUp 0.8s forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin-bottom: 15px;
    color: #333;
    font-size: 28px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#locationSelect {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f5f5f5;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #777 50%),
                      linear-gradient(135deg, #777 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
                         calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}

#searchBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchBtn:hover {
    background-color: #0056b3;
}

#weatherInfo {
    margin-top: 20px;
    animation: fadeInUp 0.8s forwards;
}

.weather-details.animate {
    animation: fadeInUp 0.8s forwards;
}

.weather-details p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.weather-details p strong {
    color: #333;
}

.select-container::after {
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #777;
    pointer-events: none;
    transition: transform 0.3s;
}

#locationSelect:focus ~ .select-container::after {
    transform: rotate(180deg);
}
